.bread-crumb{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom:1px solid #e5e5e5;
  margin: 10px 15px;
  .bread-item{
    font-size: 12px;
  }
}
