body {
  margin: 0;
  padding: 0;
}
@import './normalize.scss';
@import '~antd/dist/antd.css';
@import './theme.scss';
// @import './vars.less';

#root{
  width: 100%;
  height: 100%;
}

.table-wrap{
    height: calc(100vh - 230px);
    overflow-y: scroll;
}
.form-wrap{
    height: calc(100vh - 120px);
    overflow-y: scroll;
}
.ant-upload img{
    width: 80px;
    height: 80px;
}